
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

.admin-dashboard {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.dashboard-item {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: 45%;
    text-align: center;
    border-radius: 8px;
}

.dashboard-item h3 {
    color: #4CAF50;
}

.dashboard-item ul {
    list-style-type: none;
    padding: 0;
}

.dashboard-item ul li {
    margin: 5px 0;
}

.dashboard-item .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    margin-bottom: 15px;
}

.dashboard-item .btn:hover {
    background-color: #45a049;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    margin-top: 40px;
}
